body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: #252525;
}

a {
  text-decoration: none;
  color: #252525;
}

.container {
  margin: 0 auto;
  padding: 10px;
}
.routes-wrapper {
  height: 100%;
}

.btn {
  text-transform: uppercase;
  margin: 35px auto;
  padding: 10px;
  border: 1px solid rgba(0,0,0,.29);
  cursor: pointer;
  background: #fff;
  font-size: 16px;
  width: 250px;
  position: relative;
}

.btn:hover {
  border-color: rgba(0,0,0,.5);
  text-decoration: none;
}

.btn:focus {
  outline: 0;
  font-weight: 700;
  border-width: 2px;
}

.center {
  text-align: center;
}

.login-page-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login-select-wrapper {
  display: flex;
  justify-content: center;
  padding-top: 100px;
}

.questions-list {
  display: flex;
  max-width: 100%;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: baseline;
}

.question-card {
  margin: 20px;
  cursor: pointer;
}

.text-wrapper {
  padding: 15px;
}

.question-page {
  max-width: 540px;
  margin: 40px auto;
}

hr {
  border: 1px solid #ddd;
}

.question-content {
  display: flex;
}

.question-content .author {
  width: 110px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.question-content .vertical-separator {
  border: 1px solid #ddd;
}

.question-content .question-options {
  flex-direction: column;
  width: 100%;
  display: flex;
  margin: 15px;
}

.active {
  font-weight: bold;
}

ul {
  padding-left: 0;
}

li {
  list-style-type: none;
  padding: 10px;
  text-decoration: none;
}

.avatar {
  height: 50px;
  border-radius: 25px;
  margin: 10px;
}

.textarea {
  border-radius: 4px;
  border: 1px solid #dad7d7;
  padding: 10px;
  font-size: 15px;
  height: 100px;
}